.config/nvim/.github/
.DS_Store

.config/zed/embeddings
.config/zed/.tmp*
.config/zed/prompts

.pi/agent/.env
.pi/agent/auth.json
.pi/agent/sessions/*

node_modules
ssh-keys-list.txt

other-than-configs/browsers/firefox
other-than-configs/browsers/zen
